body {
    background-image: url("/images/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    color: whitesmoke;
    overflow-x: hidden;
}

#profileViewer, #wikiViewer, #bazaarTracker, #timerViewer {
    display: inline;
}

#profileViewerCoverall, #wikiViewerCoverall, #bazaarTrackerCoverall, #timerViewerCoverall{
    position: absolute;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
    resize: both;
    overflow: hidden;
    min-width: 10%;
    min-height: 20px;
    background-color: black;
    height: 330px;
  }

  #profileViewerCoverallHeader, #wikiViewerCoverallHeader, #bazaarTrackerCoverallHeader, #timerViewerCoverallHeader{
    float: left;
    padding: none;
    height: 4%;
    background-color: black;
    color: white;
    width: 90%;
    font-size: 16px;
    min-height: 16.5px;
  }

  #wikiViewerCoverall {
    left: 22%;
  }

  #bazaarTrackerCoverall {
    left: 44%;
  }

  #timerViewerCoverall {
    left: 66%;
  }

  #embed {
    width: 100%;
    height: 96%;
  }

  #toggleButton {
    float: right;
    padding: none;
    height: 4%;
    z-index: 10;
    background-color: black;
    color:white;
    width: 10%;
    font-size: 16px;
    border: none;
    min-height: 16.5px;
  }
